
/* default */
.form {
    display: flex;
    justify-content: center;
    padding-top: 4px;
    padding-bottom: 4px;
}

/* event */
.inactive{
    display: none;
    font-size: 0px;
}

.active {
    display: contents;
    width: auto;
    height: auto;
}

.inactivep{
    display: none;
    font-size: 0px;
}

.activep {
    display: block;
    width: auto;
    height: auto;
}